<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.morabaa.phone_plus">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application>
        <receiver android:name=".PhonePlusPlugin">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>